{% extends "../../partials/layout.njk" %}

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = content.pageHeader + " - Community Support" %}
{% set mainClasses = "govuk-body" %}

{% block contentBody %}
  {% set html %}
    <h2 class="govuk-notification-banner__heading">
      {{ content.errorMessage }}
    </h2>
  {% endset %}
  {{ govukNotificationBanner({
    html: html,
    type: "error",
    attributes: {
      "data-testid": "withdrawal-error-message"
    }
  }) }}

  <p class="govuk-body">{{ content.errorMessage }}</p>

  {{ govukButton({
    text: content.backToCasesLinkText,
    href: content.backToCasesLink,
    classes: "govuk-!-margin-top-4"
  }) }}
{% endblock %}
