{% extends "../../partials/layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = content.pageHeader + " - Community Support" %}
{% set mainClasses = "govuk-body" %}

{% block contentBody %}
  {{ govukPanel(panel) }}

  <p class="govuk-body">{{ content.introText }}</p>

  {{ govukButton({
    text: content.backToCasesLinkText,
    href: content.backToCasesLink,
    classes: "govuk-!-margin-top-4"
  }) }}
{% endblock %}
